.jumbotron {
    width: auto;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
  
picture > img {
    width: 100%;
    min-height: auto;
    object-fit: contain;
}
  
@media screen and (min-width: 1200px) {
    .jumbotron > img {
      min-width: 1000px;
      width: auto;
      margin: auto;
    }
}